//
// COLORS
// 

// $var = rbga(r,b,g,a)

//
// FONT SIZES
// 

$font-10: 1rem
$font-12: 1.2rem
$font-14: 1.4rem
$font-16: 1.6rem
$font-18: 1.8rem
$font-20: 2rem
$font-22: 2.2rem
$font-24: 2.4rem
$font-26: 2.6rem
$font-28: 2.8rem
$font-30: 3rem
$font-32: 3.2rem
$font-34: 3.4rem
$font-36: 3.6rem
$font-38: 3.8rem
$font-40: 4rem

//
// BREAKPOINTS
//
  
$grid-mobile-sm: 320px
$grid-mobile-md: 375px
$grid-mobile-lg: 425px
$grid-tablet: 768px
$grid-tablet-lg: 1024px
$grid-laptop: 1280px
$grid-desktop: 1440px 
$grid-ultrawide: 2160px
